@black: #001;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

body{
  background-color: @black;
}
.jumbotron {
    background-image: url("../images/paisaje.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 4px;
    margin-top: 50px;
    margin-bottom: 50px; }
  
  .btn {
    color: @black; }
  
  footer {
    padding: 10px 10px 0 10px;
    color: white;
    .margenes(20px, 0px);
    border-top: 4px dashed white; }
  
  footer a:hover {
    color: gray; }
  
  footer a {
    text-decoration: none !important;
    color: white; }
  
  .card {
    border: 0;
    border-radius: 0;
    border-right: 1px dashed gray; }
  
  .card-hotel {
    margin: 10px 3px 0 3px;
    flex: 1 150px;
    padding: 2px 5px 2px 5px; }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0; }
  
  .carousel img {
    border-bottom: 0px !important;
    height: 400px !important;
    width: 100%; }
  